* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
:root {
   --background-color: #01002a;
   --primary-color: #fed700;
   --hr-color: #c4c4c4;
   --font-family: 'Exo', sans-serif;
}
